## Import dependencies

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd

## Database conection

In [4]:
file_path = 'Column filter selection.csv'
df = pd.read_csv(file_path)
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

## Perform Basic Data Cleaning

In [5]:
# Get the names of the columns
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [6]:
# Make a dataframe from the variables to use

variables_reg = df.filter(['OverallCond', 'HeatingQC', 'GrLivArea', 'FullBath', 
                        'BedroomAbvGr', 'KitchenQual', 'GarageCars',
                        'SalePrice'])
variables_reg

,OverallCond,HeatingQC,GrLivArea,FullBath,BedroomAbvGr,KitchenQual,GarageCars,SalePrice
0,5,Ex,1710,2,3,Gd,2,208500
1,8,Ex,1262,2,3,TA,2,181500
2,5,Ex,1786,2,3,Gd,2,223500
3,5,Gd,1717,1,3,Gd,3,140000
4,5,Ex,2198,2,4,Gd,3,250000
...,...,...,...,...,...,...,...,...
1455,5,Ex,1647,2,3,TA,2,175000
1456,6,TA,2073,2,3,TA,2,210000
1457,9,Ex,2340,2,4,Gd,1,266500
1458,6,Gd,1078,1,2,Gd,1,142125
1459,6,Gd,1256,1,3,TA,1,147500

In [7]:
variables_reg.dtypes

OverallCond      int64
HeatingQC       object
GrLivArea        int64
FullBath         int64
BedroomAbvGr     int64
KitchenQual     object
GarageCars       int64
SalePrice        int64
dtype: object

#### Change the data from object to int , the Regresion model requires numeric

HeatingQC: Heating quality and condition

      5 Ex	Excellent
      4 Gd	Good
      3 TA	Average/Typical
      2 Fa	Fair
      1 Po	Poor

In [8]:
#Change the data from object to int , the Regresion model requires numeric

# change_HeatingQC

def change_HeatingQC(type):
    if type == "Ex" :
        return 5
    elif type == "Gd":
        return 4
    elif type == "TA":
        return 3
    elif type == "Fa":
        return 2
    elif type == "Po":
        return 1
    
variables_reg['HeatingQC'] = variables_reg['HeatingQC'].apply(change_HeatingQC)
variables_reg['HeatingQC'].head()

0    5
1    5
2    5
3    4
4    5
Name: HeatingQC, dtype: int64

#### Change the data from object to int , the Regresion model requires numeric

KitchenQual: Kitchen quality

      5 Ex	Excellent
      4 Gd	Good
      3 TA	Typical/Average
      2 Fa	Fair
      1 Po	Poor

In [9]:
#Change the data from object to int , the Regresion model requires numeric

# change_KitchenQual

def change_KitchenQual(type):
    if type == "Ex" :
        return 5
    elif type == "Gd":
        return 4
    elif type == "TA":
        return 3
    elif type == "Fa":
        return 2
    elif type == "Po":
        return 1
    
variables_reg['KitchenQual'] = variables_reg['KitchenQual'].apply(change_KitchenQual)
variables_reg['KitchenQual'].head()

0    4
1    3
2    4
3    4
4    4
Name: KitchenQual, dtype: int64

In [10]:
## CHECK DATAFRAME
variables_reg

,OverallCond,HeatingQC,GrLivArea,FullBath,BedroomAbvGr,KitchenQual,GarageCars,SalePrice
0,5,5,1710,2,3,4,2,208500
1,8,5,1262,2,3,3,2,181500
2,5,5,1786,2,3,4,2,223500
3,5,4,1717,1,3,4,3,140000
4,5,5,2198,2,4,4,3,250000
...,...,...,...,...,...,...,...,...
1455,5,5,1647,2,3,3,2,175000
1456,6,3,2073,2,3,3,2,210000
1457,9,5,2340,2,4,4,1,266500
1458,6,4,1078,1,2,4,1,142125
1459,6,4,1256,1,3,3,1,147500

In [11]:
# Check datatypes of the dataframe

variables_reg.dtypes

OverallCond     int64
HeatingQC       int64
GrLivArea       int64
FullBath        int64
BedroomAbvGr    int64
KitchenQual     int64
GarageCars      int64
SalePrice       int64
dtype: object

### DROP MISSING VALUES

In [12]:
# Take out the rows with missing values

variables_reg = variables_reg.dropna(subset=['OverallCond', 'HeatingQC', 'GrLivArea', 'FullBath', 
                        'BedroomAbvGr', 'KitchenQual', 'GarageCars',
                        'SalePrice'])

In [13]:
## check if rows were droped

variables_reg

,OverallCond,HeatingQC,GrLivArea,FullBath,BedroomAbvGr,KitchenQual,GarageCars,SalePrice
0,5,5,1710,2,3,4,2,208500
1,8,5,1262,2,3,3,2,181500
2,5,5,1786,2,3,4,2,223500
3,5,4,1717,1,3,4,3,140000
4,5,5,2198,2,4,4,3,250000
...,...,...,...,...,...,...,...,...
1455,5,5,1647,2,3,3,2,175000
1456,6,3,2073,2,3,3,2,210000
1457,9,5,2340,2,4,4,1,266500
1458,6,4,1078,1,2,4,1,142125
1459,6,4,1256,1,3,3,1,147500

In [14]:
### Convert square feet to square meter and USD TO MXN

variables_reg['GrLivArea'] = variables_reg['GrLivArea'].apply(lambda num : num / 10.764)

variables_reg['SalePrice'] = variables_reg['SalePrice'].apply(lambda num : num * 19.87)

In [15]:
## Check the final dataframe
variables_reg

,OverallCond,HeatingQC,GrLivArea,FullBath,BedroomAbvGr,KitchenQual,GarageCars,SalePrice
0,5,5,158.862876,2,3,4,2,4142895.00
1,8,5,117.242661,2,3,3,2,3606405.00
2,5,5,165.923449,2,3,4,2,4440945.00
3,5,4,159.513192,1,3,4,3,2781800.00
4,5,5,204.199182,2,4,4,3,4967500.00
...,...,...,...,...,...,...,...,...
1455,5,5,153.010033,2,3,3,2,3477250.00
1456,6,3,192.586399,2,3,3,2,4172700.00
1457,9,5,217.391304,2,4,4,1,5295355.00
1458,6,4,100.148644,1,2,4,1,2824023.75
1459,6,4,116.685247,1,3,3,1,2930825.00

## Multiple Linear Regresion using Scikit-learn

Independent and Dependent variables

In [18]:
#separate the other attributes from the predicting attribute
x = variables_reg.drop('SalePrice',axis=1)
#separte the predicting attribute into Y for model training 
y = variables_reg['SalePrice']

Splitting Data

In [19]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

Applying model

In [20]:
# importing module
from sklearn.linear_model import LinearRegression
# creating an object of LinearRegression class
LR = LinearRegression()
# fitting the training data
LR.fit(x_train,y_train)

LinearRegression()

Model is ready, test it with x_test

In [21]:
y_prediction =  LR.predict(x_test)
y_prediction

array([2080600.30569007, 5702795.16149464, 2797258.49986431,
       3731905.15076673, 5642923.16107898, 1584081.01477352,
       4744724.43580315, 3041687.04720843, 1470005.1616247 ,
       2518026.5293227 , 2860929.26471174, 1752562.91062168,
       2931041.71823056, 4153575.66076398, 3717417.24066683,
       2961211.19421635, 4417242.27312384, 2597797.10424945,
       2144224.19796402, 4073763.06459018, 3852695.77878438,
       4231963.0320061 , 4069487.38979516, 2315602.56777781,
       4005352.26786978, 3895452.20965411, 3875656.79908736,
       2651825.58505672, 3594847.89654279, 4113511.62420038,
       2947300.51695003, 5372248.57153283, 5947130.03377628,
       2338406.16668461, 4787906.3495461 , 2125971.84272052,
       3283076.68507225, 4492936.93297932, 5657844.69560437,
       2073020.8099951 , 2673363.81067047, 4973079.99647707,
       1835108.12626726, 6023615.95631289, 2379649.64435386,
       2615655.11262289, 2001701.70479652, 2121929.71554672,
       6385623.08895833, 2653187.23704867, 1940810.43199435,
       4191783.27821285, 2365409.63124191, 6114529.54143393,
       3506842.3965896 , 4437195.42216729, 4495629.64436596,
       4025347.12107977, 2563503.66053992, 2160253.05022524,
        918393.399019  , 3193738.45517089, 5760067.49142511,
       4990064.54818508, 4987437.83998059, 4644130.71929036,
       2315426.87877141, 5459345.0308417 , 1378930.5539445 ,
       3493441.32930234, 3047603.54402666, 2435243.53973206,
       2027747.0396646 , 2871925.42870049, 6703290.51024514,
       3917464.91538869, 5865376.39789236, 5902432.24611591,
       2374076.69806161, 2093267.47843652, 2957053.3498129 ,
       2273624.03418654, 2828553.47658441, 2156037.34720697,
       3018386.07452738, 3659787.0078286 , 5105673.65069479,
       4034275.50117121, 3506842.3965896 , 4040982.89116166,
       3554052.93858371, 3396899.36951667, 1916423.86967918,
       5635967.32818262, 2398915.01174101, 3841451.40072716,
       4766639.77455714, 4035281.99143496, 4321594.46422492,
       5579117.86547374, 3504765.20644929, 4485653.06984424,
       4502834.0084113 , 2714888.97322514, 4169965.3890783 ,
       3140541.95569995, 3282267.96689826, 4441197.64125597,
       2610651.80051485, 2837422.7333703 ,  749757.77171986,
       1582103.38741457, 2268845.71390081, 2722224.98065015,
       4526984.59286281, 2556389.45500584, 2265719.69516919,
       3195089.49364547, 3570661.09395136, 4777929.77502437,
       2243947.92193421, 3506842.3965896 , 3475071.14366726,
       4207278.85564043, 3750121.28787032, 1839501.63145385,
       4960410.7105687 , 2060253.75738677, 2958458.51105295,
       3231457.56021273, 4220561.2325527 , 5567346.64869559,
       4501330.54409266, 2980007.17679009, 1446104.91394289,
       5561843.07845021, 5871435.74342972, 1843777.30624888,
       4813560.39831625, 9178705.19215005, 6874632.97899954,
       2076049.06202677, 4206193.2660063 , 3160138.45501415,
       2476564.93970775, 1763846.87968351, 4235520.02161045,
       4003927.04293811, 1987860.80526932, 1391364.17906973,
       1954745.40827629, 2892730.61975684, 4501888.20672418,
       3880092.64260153, 1876263.96027943, 2433120.41010121,
       3291836.88656359, 3380115.52514262, 1353470.14471045,
       2365525.34847156, 3724582.95632982, 3143789.1826758 ,
       4802158.59886285, 2689209.14643847, 2434970.08402571,
       2205397.7848247 , 4745044.00740908, 6781835.61996396,
       7089207.611923  , 4074011.27865865, 5883943.91300875,
       1943237.6975556 , 2276461.38484662, 3324057.27268647,
       5838349.26848046, 3097368.58624371, 2574682.03541498,
       4412966.59832882, 3551194.34415303, 4207734.20816763,
       3732004.71354809, 2023146.0819538 , 2445267.84982573,
       2652173.36190655, 4800627.7797444 , 3657617.76531323,
       4863443.27092487, 4814827.88477122, 4136315.22310718,
       1923414.21341628, 3365863.27582587, 2485086.50425555,
       2845786.24236089, 2100317.79395037, 4268703.40327625,
       5180815.99273473, 4075507.1443279 , 2332393.79703024,
       4444321.54682567, 2649145.10987487, 4143325.6305359 ,
       3369662.35733814, 2562266.36081945, 5869751.95254926,
       3871381.12429234, 2101048.71534585, 4844809.75262633,
       2594976.43942835, 3203282.03942815, 1752445.08023011,
       5318189.90399106, 3031093.15535896, 1622586.15864609,
       3291217.1274812 , 3414556.58428596, 4197757.6336459 ,
       4456939.86550803, 2137373.64217392, 3267496.66044327,
       3988291.58993674, 2245678.50077641, 4073605.32611348,
       4338972.7322733 , 2346997.42435979, 4545618.11116136,
       2264336.49148456, 2774161.38155954, 1774889.91624573,
       3925202.14956036, 2546431.14809433, 2964119.50269452,
       3991042.15993821, 2844282.77804225, 2486669.46766393,
       4695161.13480046, 2750453.91041537, 3908279.23403919,
       3522795.4397063 , 4247600.91524991, 2126487.16702447,
       2409832.97923188, 5820214.74362854, 4502991.42980749,
       6762633.77308813, 4216445.4093963 , 1962083.2117827 ,
       2634717.17155173, 3718784.28990317, 2533809.5977579 ,
       2054550.74449815, 3707598.40462181, 3949710.63691964,
       2740183.81649567, 3254787.14936925, 2132980.13698732,
       2824952.97773196, 2302935.39503136, 2497439.04851981,
       4250490.95611787, 4944575.49784357, 5154131.29837174,
       2718971.00848407, 1781067.40925518, 4415601.45110064,
       5573244.87790361, 4990446.02832064, 3435064.96571849,
       3506842.3965896 , 1967562.30961848, 3346858.75843134,
       6292825.72992276, 3978057.39707643, 4774973.73097425,
       2014450.80687515, 3045862.84214158, 2425374.67255903,
       4401564.79887542, 5507421.19838309, 4641608.93019542,
       2727416.76388735, 4497054.86929764, 2923989.46294877,
       4212009.88296265, 2793210.34128511, 4904774.79394345,
       4025483.21908156, 4588269.26492484, 2855752.69383974,
       4146449.5361056 , 4040982.89116166, 2412481.96207231,
       2482617.21744725])

 Calculate the accuracy of our model

In [24]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
score=r2_score(y_test,y_prediction)
print('r2 socre is ',score)
print('mean_sqrd_error is==',mean_squared_error(y_test,y_prediction))
print('root_mean_squared error of is==',np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre is  0.7450737004602732
mean_sqrd_error is== 772012283264.873
root_mean_squared error of is== 878642.2953994834